.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  z-index: 10;
  pointer-events: none;
  overflow: visible;
}
.menu svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 -2px 4px rgba(0, 0, 0, 0.25));
}
.buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13.5%;
  display: flex;
  gap: 10%;
  z-index: 20;
  pointer-events: none;
}
.profile,
.setting {
  height: 100%;
  border: none;
  flex-grow: 1;
  pointer-events: auto;
  position: relative;
}
.profile {
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
}
.setting {
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}
.profile-icon,
.setting-icon {
  height: 6vh;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: 20%;
}
.profile-icon {
  left: 40%;
  transform: translateX(-50%);
}
.setting-icon {
  left: 60%;
  transform: translateX(-50%);
}
.home-button {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 12vh;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  z-index: 20;
  background-image: linear-gradient(#fff3d0, #fed88f);
  overflow: hidden;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}
.home-button button {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  justify-content: center;
  align-content: center;
}
.home-icon {
  width: 6vh;
  aspect-ratio: 1 / 1;
  margin: auto;
  pointer-events: none;
}
